@import "../../shared/LayoutApp/styles.scss";

.ride-form {
  background-color: $ebony;
	margin-left: auto;
	margin-right: auto;
  border-radius: 20px;
  h1 {
		margin: 0;
		text-align: center;
		color: $alto !important;
	}
}

h1, .ant-form-item-label > label {
  color: $ebony !important;
}

.ant-form {
  padding: 16px;
}

.ant-form-item:not(:last-child){
  margin-bottom: 12px;
}

.ant-select-selection, .ant-input, .ant-time-picker-input, .ant-input:hover {
  border: none;
  border-bottom: 1px solid $ebony;
  background-color: $alto;
  border-radius: 0;

  .ant-select-selection__placeholder {
    color: $placeholder;
  }

  .anticon {
    color: $ebony;
  }

}

.ant-switch-checked {
  background-color: $gigas;
}

.ant-select-selection:hover {
  border-color: $gigas;
}

.details {
  background-color: $alto;
	margin: 16px 32px;
	border-radius: 50px;
  padding: 32px;
  width: 30%;

	h2 {
    text-align: center;
		color: $ebony !important;
		line-height: 1.8;
		border-bottom: 1px solid $melrose;
		padding-bottom: 16px;
		margin-bottom: 32px;
	}
	
}

.section-ride {
  height: 90vh !important;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
}