.ant-list {
  .ant-list-item {
    min-height: 14rem;
    margin: 0 5%;
    background-color: $comet;
    border-radius: 10px;
    cursor: pointer;
    .ant-list-item-meta {
      min-height: 12rem;
      padding: 24px;
      .ant-list-item-meta-title {
        color: $alto;
        font-size: 18px;
        font-weight: 400;
      }
      .ant-list-item-meta-description {
        color: $alto;
      }
    }
  }
  .ant-btn {
    background-color: $marguerite !important;
  }
}