.ant-list {
  .ant-list-item {
    min-height: 150px;
    margin: 0 5%;
    background-color: $martinique;
    border-radius: 10px;
    cursor: pointer;
    .ant-list-item-meta {
      padding: 24px;
      .ant-list-item-meta-title {
        color: $alto;
        font-size: 18px;
        font-weight: 400;
      }
      .ant-list-item-meta-description {
        color: $alto;
      }
    }
  }
}