@import "../../shared/LayoutApp/styles.scss";

.ant-list-item-meta-title, .ant-form.ant-form-horizontal h5 {
  &:first-letter {
    text-transform: uppercase;
  }
}

h4, h5 {
  color: $alto;
}

.vagas-disponiveis {
  border: 1px solid $alert;
  border-radius: 5px;
  padding: 12px;
  margin: 32px 24px 0 0 ;
  text-align: center;
}

.anticon-car {
  font-size: 26px;
  padding: 54px 24px;
  color: $alert;
}

h1 {
  margin: 32px !important;
}

.ant-form-item-label {
  color: $ebony !important;
}

.filter {
  // border: 1.5px solid $ebony;
  // border-radius: 0px;

  .ant-input, .ant-input:hover {
    border-radius: 0;
  }

  .ant-input-affix-wrapper:hover .ant-input:not(.ant-input-disabled) {
    border-color: $gigas !important;
  }

  .ant-select-selection, .ant-input {
    background-color: transparent;
  }

  .ant-select-selection .ant-select-selection__placeholder {
    color: $ebony;
  }
}

.filter-title {
  .ant-form-item-label > label, span.ant-radio + * {
    color: $ebony !important;
  }
}

.modal {
  .ant-modal-content, .ant-modal-header {
    border-radius: 10px;
  }
  .ant-btn {
    width: auto;
    background-color: transparent !important;
  }
  .ant-btn:hover {
    color: $alto;
  }
  .ant-btn-primary {
    background-color: $gigas !important;
  }
  .ant-modal-title {
    text-align: center;
    font-size: 18px;
  }
  p {
    padding: 8px 16px;
    color: $ebony;
  }
  h4 {
    color: $gigas;
  }
  h5 {
    color: $ebony;
    padding-bottom: 15px;
  }
} 


.details {
  background-color: $alto;
	margin: 16px 32px;
	border-radius: 50px;
  padding: 32px;
  width: 30%;

	h2 {
    text-align: center;
		color: $ebony !important;
		line-height: 1.8;
		border-bottom: 1px solid $melrose;
		padding-bottom: 16px;
		margin-bottom: 32px;
	}
	
}

.ant-select-selection {
  border: 1px solid $gigas;
  border-radius: 50px !important;

  &:focus {
    border-color: $gigas;
  }
}

.ant-selection-open, .ant-select-focused {
  border-color: $gigas;
}