@import "../../shared/LayoutApp/styles.scss";

.ant-menu {
  background: $gigas;
}

.ant-menu-horizontal {
  border: none;
}

.ant-menu-horizontal > .ant-menu-item,
.ant-menu-horizontal > .ant-menu-item > a {
  color: $alto;
  margin-top: -2px;
  font-size: 18px;
}

.ant-menu-horizontal > .ant-menu-item:hover,
.ant-menu-horizontal > .ant-menu-item > a:hover {
  color: $alto;
}

.ant-menu-item {
  padding: 0 30px !important;
}

.ant-menu-item .anticon {
  font-size: 20px;
  margin-right: 30px;
}

.ant-menu-horizontal > .ant-menu-item,
.ant-menu-horizontal > .ant-menu-item:hover,
.ant-menu-horizontal > .ant-menu-item-selected {
  border-bottom: 1px solid $gigas;
  top: 0;
}

.ant-layout-sider {
  line-height: 200px;
}

.ant-layout-sider-children {
  background-color: $gigas;
}

.ant-layout-sider-trigger {
  background-color: $martinique;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected {
  background-color: transparent;
}

.ant-menu-inline {
  .ant-menu-item:first-child {
    margin: 24px 0 80px 0;
    border: none;
    color: $alto;
  }
}

.ant-menu-item {
  border-bottom: 1px solid $comet;

  .anticon-car {
    padding: 0;
    color: $alto !important;
  }
}
