@import "../../shared/LayoutApp/styles.scss";

.car-form {
	background-color: $ebony;
	margin-left: auto;
	margin-right: auto;
	border-radius: 20px;
	margin-top: 15px;
	h1 {
		margin: 0;
		text-align: center;
		color: $alto !important;
	}
}