@import "../../shared/LayoutApp/styles.scss";

.body {
	background-color: $ebony;
}

.ant-layout-header {
	height: 56px !important;
	padding: 0 50px;
	line-height: 56px;
	background: $gigas !important;

	.ant-menu {
		background: $gigas;
	}

	.ant-menu-horizontal > .ant-menu-item,
	.ant-menu-horizontal > .ant-menu-item > a {
		color: $alto;
		margin-top: -2px;
		font-size: 16px;
	}

	.ant-menu-horizontal > .ant-menu-item:hover {
		color: $alto;
	}

	.ant-menu-horizontal > .ant-menu-item-selected {
		border-bottom: 0px solid transparent;
	}

	.ant-menu-item .anticon {
		font-size: 16px;
	}
}