@import "../../shared/LayoutApp/styles.scss";

.section {
	background-color: $ebony;
	
	.login {
		height: 100vh;
		//width: 30%;		

		h1 {
			text-align: center;
			padding-top: 10%;
			padding-bottom: 32px;
		}

		.ant-input {
			border-radius: 50px;
		}

		
	}
}

