@import "../../shared/LayoutApp/styles.scss";

.section {
	background-repeat: no-repeat;
	background-size: cover;	
	height: 100vh;
	//width: 30%;		
	display: flex;
	justify-content: center;
	align-items: center;
}


.login {
	background-color: $ebony;
	width: 30%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 20px;

	h1 {
		text-align: center;
		padding-top: 10%;
		padding-bottom: 32px;
		color: $alto !important;
	}

	.ant-input, .ant-input:hover {
		border-radius: 5px;
	}
	
}

